{% extends 'mainapp\layouts\landing_layout.html' %}

{% load my_filters %}

{% block content %}
<!-- ======= Simple Filter Section ======= -->
<section class="simple-filler" style="padding:0;">
</section>
<section id="answer_questions" class="answer_questions">
  <div class="container" data-aos="fade-up">

    <div class="row my-2 mx-2">
      <div class="col-md-2 text-left">
        <button class="btn btn-secondary" id="back_to_home" onclick="backToHome()">Back</button>
      </div>
      <div class="col-md-8">
        <h2 class="mx-auto text-center">Generate A Personalized Video  {{type.title}}</h2>
      </div>
      <div class="col-md-2 text-right">
        <a href="{% url 'review_script' %}" class="btn btn-secondary">Next</a>
      </div>
    </div>
    <div class="row my-2 text-center">
      <p class="text-center">
        <span class="mx-auto" style="font-size: 18px; font-weight: bolder;">Answer the following questions to help AI create video (Step 1)</span>
      </p>
    </div>
    <form id="answer_questions_form" onsubmit = "submitForm()" method="post">
      {% csrf_token %}
      {% for index, question in questions %}
      <div class="mb-2">
        <label for="exampleInputEmail1{{question.id}}" class="form-label">{{question.question}}</label>
        <textarea name="answer{{question.id}}" class="form-control" id="exampleInputEmail1{{question.id}}" placeholder="{{question.sample_answer}}...">{% if answers|length >  index %}{{ answers|index:index }}{% endif %}</textarea>
      </div>
      {% endfor %}
      <div class="text-center">
        <button type="submit" class="btn btn-primary mb-3 mx-auto" style="width:30%">Generate Message</button>
      </div>
    </form>

  </div>
</section><!-- End Pricing Section -->
<script>
  function backToHome(){
    var form = document.querySelector('#answer_questions_form');
    var formData = new FormData(form);
    console.log("aaaa");
    fetch("{% url 'back_to_home' %}", {
      method: "POST",
      body: formData
    }).then(() => {
      window.location.href = "{% url 'home' %}";
    }).catch((error) => {
      console.error('Error:', error);
    });
  }
</script>

{% endblock %}